In [57]:
import pandas as pd

In [58]:
d_pm25 = pd.read_csv('../data/processed/pm_2.5.csv',sep=';', thousands=None, decimal=',')
d_pm10 = pd.read_csv('../data/processed/pm_10.csv',sep=';', thousands=None, decimal=',')

Metereologia = pd.read_csv('../data/processed/Metereologia.csv',sep=';', thousands=None, decimal=',')

In [59]:
d_contaminantes = pd.merge(d_pm25, d_pm10, on='fecha', how='outer')

nuevos_nombres = {
    'registro_x': 'pm2.5',
    'registro_y': 'pm10'
}
d_contaminantes = d_contaminantes.rename(columns=nuevos_nombres)
# Eliminando la fila con índice 0
d_contaminantes.drop(index=0, inplace=True)
d_contaminantes.reset_index(drop=True, inplace=True)
d_contaminantes.head()

        fecha    pm2.5     pm10
0  2013-01-01   9.3612  25.2396
1  2013-01-02  13.7865  36.1072
2  2013-01-03  12.2568  29.2324
3  2013-01-04  12.6945  33.1919
4  2013-01-05   8.6662  26.3441

In [60]:
DataSet = pd.merge(d_contaminantes, Metereologia, on='fecha', how='outer')
# Eliminando la fila con índice 0
DataSet.drop(index=0, inplace=True)
DataSet.reset_index(drop=True, inplace=True)

nombre = 'Dataset_Particulas_contaminantes'
path = '../data/processed/{}.csv'.format(nombre)


DataSet.to_csv(path, sep=';',index=False, float_format='%.4f', decimal=',')

DataSet

,fecha,pm2.5,pm10,humedad,puntoRocio,temperatura,dd_Valor,ff_Valor
0,2013-01-02,13.7865,36.1072,43.3077,12.1000,25.8000,256.1538,3.7692
1,2013-01-03,12.2568,29.2324,62.8462,13.4000,21.2462,213.0769,2.7692
2,2013-01-04,12.6945,33.1919,68.6923,13.5385,19.6000,154.6154,2.7692
3,2013-01-05,8.6662,26.3441,53.5385,12.3231,23.3231,235.3846,3.9231
4,2013-01-06,6.5667,15.4322,49.8462,11.5462,23.2154,248.4615,4.3077
...,...,...,...,...,...,...,...,...
3736,2023-03-27,18.5833,47.5000,53.8750,5.0792,15.8042,180.1250,3.7083
3737,2023-03-28,5.8125,23.0000,78.2500,8.4962,12.2885,155.5000,4.3846
3738,2023-03-29,5.3542,21.5000,63.3750,5.4625,13.4583,219.5000,6.9167
3739,2023-03-30,10.3333,32.0000,55.0417,2.6625,12.6625,216.6667,8.7083
3740,2023-03-31,20.8333,47.0000,54.0000,3.7625,15.5917,222.8333,5.7500